{{ template "header.html" . }}

  <div class="row">
    <div class="col-6">
      <h3 class="muted">Input CSS</h3>
      <form id="input-form" method="post" name="f" action="/minify" class="form-stacked">
        <fieldset>
          <div class="clearfix">
            <div class="input">
              <textarea id="input" name="input" rows="15" wrap="off" autofocus="autofocus" spellcheck="false" class="col-12"></textarea>
            </div>
          </div>
          <p class="actions">
            <button id="minify" type="submit" class="btn btn-primary">Minify</button>
            <button id="download" type="button" disabled="disabled" class="btn">Download as File</button>
            <button id="raw" type="button" disabled="disabled" class="btn">RAW</button>
            <input id="clear" type="reset" value="Clear" class="btn">
          </p>
        </fieldset>
      </form>
    </div>

    <div class="col-6">
      <h3 class="muted">Minified Output</h3>
      <form id="output-form" name="f" class="form-stacked">
        <fieldset>
          <div class="clearfix">
            <div class="input">
              <textarea id="output" name="output" rows="15" wrap="soft" disabled="disabled" class="col-12"></textarea>
            </div>
          </div>
          <p class="actions">
            <button id="select" type="button" disabled="disabled" class="btn">Select All</button>
          </p>
        </fieldset>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2 class="muted">Language Examples</h2>
      <p>Click on the language of your choice:</p>
      <p class="btn-group" role="group" aria-label="Language Examples Navigation">
        <a href="/wget" class="btn btn-primary">wget</a>
        <a href="/curl" class="btn btn-secondary">Curl</a>
        <a href="/nodejs" class="btn btn-success">Node.js</a>
        <a href="/python" class="btn btn-info">Python</a>
        <a href="/ruby" class="btn btn-default">Ruby</a>
        <a href="/perl" class="btn btn-default">Perl</a>
        <a href="/php" class="btn btn-default">PHP</a>
        <a href="/c-sharp" class="btn btn-default">C#</a>
      </p>
      <h3 class="muted">More Languages</h3>
      <p>
        Please open a Pull Request on the
        <a href="https://github.com/appsattic/cssminifier.com">cssminifier.com repository</a>
        to add more language examples or fix the current ones.
      </p>
      <h2 class="muted">API - General</h2>
      <p>
        To minify/compress your CSS perform a POST request to <code>https://cssminifier.com/raw</code> with the
        <code>input</code> parameter set to the CSS you want to minify.
      </p>
      <pre>POST https://cssminifier.com/raw?input=...</pre>
      <p>To see implementations in other languages see the Language Examples pages above.</p>
      <h2 class="muted">Plugins</h2>
      <p>Many of our users have made plugins for various editors which are listed on the <a href="/plugins">plugins</a> page.</p>
      <h2 class="muted">Programs</h2>
      <p>Lots of people are making little programs to use CSS Minifier - see the <a href="/programs">programs</a> page.</p>
      <p>(Ends)</p>
    </div>

{{ template "footer.html" . }}
