  <h3>Language Examples</h3>
  <p>Click on the language of your choice:</p>
  <p class="btn-group" role="group" aria-label="Language Examples Navigation">
    <a href="/wget" class="btn btn-secondary">wget</a>
    <a href="/curl" class="btn btn-secondary">Curl</a>
    <a href="/nodejs" class="btn btn-secondary">Node.js</a>
    <a href="/python" class="btn btn-secondary">Python</a>
    <a href="/ruby" class="btn btn-secondary">Ruby</a>
    <a href="/perl" class="btn btn-secondary">Perl</a>
    <a href="/php" class="btn btn-secondary">PHP</a>
    <a href="/c-sharp" class="btn btn-secondary">C#</a>
  </p>

  <h3>More Languages</h3>
  <p>
    Please open a Pull Request on the
    <a href="https://github.com/appsattic/cssminifier.com">cssminifier.com repository</a>
    to add more language examples or fix the current ones.
  </p>
