{{ template "header.html" . }}

  <div>
    <h1>Plugins</h1>

    <h3>Django Helper</h3>
    <p>
      <a href="https://github.com/xgvargas">Gustavo Vargas</a>
      has written a
      <a href="https://github.com/xgvargas/js-css-min-django">Django plugin</a>
      which allows you to use both
      <a href="https://cssminifier.com/">cssminifier.com</a>
      and
      <a href="https://javascript-minifier.com">javascript-minifier.com</a>
      from within your projects.
    </p>

    <h3>Sublime Text 2 Plugin</h3>
    <p>
      <a href="https://github.com/bistory">Thomas Lété</a>
      has made a
      <a href="https://packagecontrol.io/packages/Minifier">Minifier</a>
      plugin for Sublime Text 2.
      Thanks Thomas.
    </p>

    <h3>Krusader File Manager</h3>
    <p>
      Jon Toffy made a plugin for the Krusader File Manager.
    </p>

    <h3>PHP Library</h3>
    <p>
      Tony Almeida made a PHP Library -
      <a href="https://github.com/promatik/PHP-JS-CSS-Minifier">PHP-JS-CSS-Minifier</a>
      - to help minify both CSS and JS files in your PHP projects.
      Thanks Tony!
    </p>

    <h3>Add your Library</h3>
    <p>
      Please open a pull request on
      <a href="https://github.com/appsattic/cssminifier.com">GitHub</a>
      if you'd like your program to appear on this page.
    </p>
    <p>
      (Ends)
    </p>

  </div>

{{ template "footer.html" . }}
