{{ template "header.html" . }}

  <div>
    <h1>Programs</h1>

    <ul>
      <li>
        GGG-KILLER made a C# program to use both
        <a href="https://cssminifier.com">CSS Minifier</a>
        and
        <a href="https://javascript-minifier.com/">JavaScript Minifier</a>
        :
        <a href="https://github.com/GGG-KILLER/CSS-And-Js-Minifier">https://github.com/GGG-KILLER/CSS-And-Js-Minifier</a>.
      </li>
    </ul>

    <h3>Add your Program</h3>
    <p>
      Please open a pull request on
      <a href="https://github.com/appsattic/cssminifier.com">GitHub</a>
      if you'd like your program to appear on this page.
    </p>
    <p>
      (Ends)
    </p>

  </div>

{{ template "footer.html" . }}
